@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/*============================================================================*/
/*==================================GENERAL===================================*/
/*============================================================================*/
html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding-top: 5em;
}

.home {
	padding: 0;
}

.logo {
	display: none;
	margin: 1em;
	z-index: 10;
	position: absolute;
	background-color: #fff;
	height: 4em;
	width: 4em;
}

.main {
	background-color: #eee;
	display: block;
	position: relative;
}

/*============================================================================*/
/*==============================COMING SOON PAGE==============================*/
/*============================================================================*/
.container {
	padding: 2em;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	overflow: hidden;
}

.cover {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #000;
	-webkit-animation: reveal 2000ms ease-out forwards;
	animation: reveal 2000ms ease-out forwards;
	z-index: 100;
	box-shadow: 0px 0px 150px rgba(0,0,0,0.75);
}

@keyframes reveal {
	0% {
		height: 100%;
		opacity: 100%;
	}
	100% {
		height: 0;
		opacity: 0;
	}
}

@-webkit-keyframes reveal {
	0% {
		height: 100%;
		opacity: 90%;
	}
	100% {
		height: 0;
		opacity: 90%;
	}
}

.comingsoon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
/*	visibility:hidden;*/
}

.cs {
	position: absolute;
	top: calc(50% - 10vw);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	-webkit-transform: translateX(12.5%);
	transform: translateX(12.5%);
	color: #fff;
	font-size: 10vw;
}
/*============================================================================*/
/*=================================NAVIGATION=================================*/
/*============================================================================*/
.navigation {
	display: block;
	position: relative;
	height: 4em;
	padding: 1em;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 5px 5px #fff;
	z-index: 20;
}

.nav-list {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.nav-list li {
	display: inline-block;
	padding: 0.5em;
}

.nav-list a {
	padding: 1em;
	text-decoration: none;
	color: #000;
	transition: all 200ms ease-out;
}

.nav-list a:hover {
	color: #ccc;
}
/*============================================================================*/
/*=================================BILLBOARD==================================*/
/*============================================================================*/
.billboard {
	position: relative;
}

.billboard img {
	width: 100%;
}

.welcome {
	top: -1em;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: inline-block;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-size: 3vw;
	background-color: #000;
	padding: 0 .5em;
	font-style: italic;
}

.title {
	text-align: center;
	font-family: Futura, sans-serif;
	padding-top: 1em;
	font-style: oblique;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: -2px;
	color: #fff;
	line-height: 1em;
}

.title-2 {
	text-align: center;
	font-family: Times, serif;
	padding-top: 1em;
	font-size: 1.5em;
	letter-spacing: 3px;
	color: #fff;
	line-height: 1em;
	font-weight: normal;
}

.hook {
	color: #fff;
  font-family: Times, serif;
  font-size: 1em;
  letter-spacing: 13px;
  text-align: center;
  line-height: 1em;
  padding-bottom: 1.25em
}

.hook-2 {
	color: #fff;
  font-family: Futura, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0px;
  text-align: center;
  line-height: 1em;
  padding-bottom: 0.5em;
  font-style: oblique;
}

.inner, .inner-2 {
	-webkit-transition: all 250ms ease-out;
	transition: all 500ms ease-out;
	position: absolute;
	top: 50%;
	background-color: #000;
	border: solid 5px #fff;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.inner {
	opacity: 1;
	z-index: 10;
	padding: 2em 0;
	width: calc(100% - 4em);
}

.inner:hover {
	opacity: 0;
}

.inner-2 {
	width: calc(100% - 2em);
	padding: 5em;
	border: none;
}

@media only screen and (min-width: 25em) {
	.title {
		font-size: 3em;
		line-height: 0.5em;
	}
	.hook {
		font-size: 2em;
		letter-spacing: 5px;
		line-height: 0.5em;
		padding-bottom: 1em;
	}
	.welcome {
		font-size: 3vw;
	}
	.title-2 {
		font-size: 2em;
	}
	.hook-2 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 38em) {
	.title {
		font-size: 3em;
		line-height: 1em;

	}
	.hook {
		font-size: 2em;
		letter-spacing: 5px;
		line-height: 1em;
	}

	.welcome {
		font-size: 4vw;
	}
	.title-2 {
		font-size: 3.5em;
	}
	.hook-2 {
		font-size: 3.5em;
	}
}

@media only screen and (min-width: 60em) {
	.title {
		font-size: 5.5em
	}
	.hook {
		font-size: 4em;
		letter-spacing: 10px
	}
	.welcome {
		font-size: 2em;
	}
	.title-2 {
		font-size: 4.5em;
	}
	.hook-2 {
		font-size: 4.5em;
	}
}

@media only screen and (min-width: 90em) {
	.title {
		font-size: 7em
	}
	.hook {
		font-size: 5em;
	}
	.inner, .inner-2 {
		max-width: 1000px;
		left: calc(50% - 500px);
	}
}
/*============================================================================*/
/*=================================HAT STAGE==================================*/
/*============================================================================*/
.stage {
	background-color: #ccc;
	width: 100%;
	overflow: hidden;
}
/*============================================================================*/
/*================================PANEL PICKER================================*/
/*============================================================================*/
.panel-picker {
	background-color: #eee;
	overflow: hidden;
}

.picker-menu{
	background-color: #eee;
	position: relative;
}

.picker-ui {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.panel-picker, .picker-menu {
	display: block;
	margin: 0;
/*	border: solid 2px #ccc;*/
}

.square {
	margin: 2px;
	border: solid 2px #000;
	height: 3em;
	width: 3em;
	position: relative;
	display: block;
}

[hidden] {
	display: none;
}

.tabs {
	list-style: none;
}

.tabs li {
	text-align: center;
	display: inline;
	padding: 0 auto;
}

.tabs a {
	display: block;
	padding: 1em 0;
	border-top: solid 2px #ccc;
	border-bottom: solid 2px #ccc;
	border-left: solid 2px #ccc;
	border-right: solid 2px #ccc;
	width: 100%;
	text-decoration: none;
	color: #000;
	border-right-width: 0px;
}

.tabs:last-child {
	border: solid 2px #ccc;
}

.tab-swatches {

}

.5panel {
	height: 100%;
}

.js-current {
	border-bottom: none;
}

.colors {
	border: solid 2px #ccc;
	border-top-width: 0;
}

.solid-1, .solid-2, .solid-3, .solid-4,
.pattern-1, .pattern-2, .pattern-3,
.texture-1, .texture-2,
.stripe-1, .stripe-2, .stripe-3, .stripe-4, .stripe-5, .stripe-6, .stripe-7, .stripe-8, .stripe-9 {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

.solid-1 {
	background-color: #f00;
}
.solid-2 {
	background-color: #0f0;
}
.solid-3 {
	background-color: #00f;
}
.solid-4 {
	background-color: #000;
}

.pattern-1 {
	background-color: #ff0;
}
.pattern-2 {
	background-color: #0ff;
}
.pattern-3 {
	background-color: #f0f;
}

.texture-1 {
	background-color: #eee;
}
.texture-2 {
	background-color: #222;
}

.brim, .front, .side-left, .side-right, .top-left, .top-right {
	cursor: pointer;
	fill: #fff;
	stroke: #aaa;
}

.js-currentPanel {
	fill: #fff;
	stroke: #444;
	stroke-width: 2px;

}

.reset {
	text-align: center;
	overflow: hidden;
	margin: 1em;
}
.reset a {
	text-decoration: none;
	color: #222;
	padding: 1em;
	background-color: #ddd;
}

.galleria {
	height: 20em;
}
/*============================================================================*/
/*==================================FOOTER====================================*/
/*============================================================================*/
















