@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/*============================================================================*/
/*==================================GENERAL===================================*/
/*============================================================================*/
html {
  box-sizing: border-box;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
 text-size-adjust: 100%;
/* background: url(../img/texture.jpg);*/
 background-repeat: no-repeat;
 background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding-top: 5em;
}

.home {
	padding: 0;
}

.logo {
	margin: 0.5em;
	z-index: 21;
	position: absolute;
	background-color: #fff;
	height: 3em;
	width: 3em;
	background: url(../img/logo.svg);
	background-size: contain;
	border-radius: 1.5em;
	overflow: hidden;
	left: calc(50% - 2em);
}

.main {
/*	background-image: url(../img/texture.jpg);*/
	display: block;
	position: relative;
	overflow: hidden;
}


/*============================================================================*/
/*==============================COMING SOON PAGE==============================*/
/*============================================================================*/
.container {
	padding: 2em;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	overflow: hidden;
}

.cover {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #000;
	-webkit-animation: reveal 2000ms ease-out forwards;
	animation: reveal 2000ms ease-out forwards;
	z-index: 100;
	box-shadow: 0px 0px 150px rgba(0,0,0,0.75);
}

@keyframes reveal {
	0% {
		height: 100%;
		opacity: 100%;
	}
	100% {
		height: 0;
		opacity: 0;
	}
}

@-webkit-keyframes reveal {
	0% {
		height: 100%;
		opacity: 90%;
	}
	100% {
		height: 0;
		opacity: 90%;
	}
}

.comingsoon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
/*	visibility:hidden;*/
}

.cs {
	position: absolute;
	top: calc(50% - 10vw);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	-webkit-transform: translateX(12.5%);
	transform: translateX(12.5%);
	color: #fff;
	font-size: 10vw;
}
/*============================================================================*/
/*=================================NAVIGATION=================================*/
/*============================================================================*/
	.navigation {
		display: block;
		position: relative;
		height: 4em;
		padding: 0;
		background-color: #fff;
	/*	box-shadow: 0px 5px 5px #fff;*/
		z-index: 20;
	}

	.nav-list {
		position: relative;
		top: 4em;
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		max-height: 0;
		overflow: hidden;
		transition: all 250ms ease-out;
	}

	.nav-list li {
		display: block;
		padding: 0.5em;
		width: 100%;
		background-color: #fff;
		text-align: center;
	}

	.nav-list a {
		padding: 1em;
		text-decoration: none;
		color: #000;
		transition: all 200ms ease-out;
	}

	.nav-list a:hover {
		color: #ccc;
	}

.nav-btn {
	z-index: 21;
	height: 4em;
	display: block;
	position: absolute;
	right: 1em;
	cursor: pointer;
}

.js-menu-open {
	max-height: 100vh;
}
@media only screen and (min-width: 38em) {
	.navigation {
		padding: 1em;
		overflow: hidden;
		box-shadow: 0px 1px 1px #fff;
	}

	.nav-list {
		top: 0.75em;
		position: absolute;
		left: 5em;
		-webkit-transform: none;
		        transform: none;
	}

	.nav-list li {
		display: inline-block;
		width: auto;
	}

}
/*============================================================================*/
/*=================================BILLBOARD==================================*/
/*============================================================================*/
.billboard {
	position: relative;
}

.billboard img {
	width: 100%;
}

.welcome {
	top: -1em;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: inline-block;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-size: 1em;
	background-color: #000;
	padding: 0 .5em;
	font-style: italic;
}

.title {
	text-align: center;
	font-family: Futura, sans-serif;
	padding-top: 1em;
	font-style: oblique;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: -2px;
	color: #fff;
	line-height: 0.5em;
}

.title-2 {
	text-align: center;
	font-family: Times, serif;
	padding-top: 1em;
	font-size: 1.5em;
	letter-spacing: 3px;
	color: #fff;
	line-height: 1em;
	font-weight: normal;
}

.hook {
	color: #fff;
  font-family: Times, serif;
  font-size: 0.7em;
  letter-spacing: 10px;
  text-align: center;
  line-height: 1em;
  padding-bottom: 1.25em
}

.hook-2 {
	color: #fff;
  font-family: Futura, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0px;
  text-align: center;
  line-height: 1em;
  padding-bottom: 0.5em;
  font-style: oblique;
}

.inner, .inner-2 {
	transition: all 500ms ease-out;
	position: absolute;
	top: 50%;
	background-color: #000;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.inner {
	opacity: 1;
	z-index: 10;
	padding: 0;
	width: calc(100% - 2em);
	max-width: calc(1000px - 2em);
	border: solid 3px #fff;
}

.inner:hover {
	opacity: 0;
}

.inner-2 {
	width: 100%;
	padding: 2em 0;
	border: none;
	max-width: 1000px;
}


/*============================================================================*/
/*=================================HAT STAGE==================================*/
/*============================================================================*/
.stage {
	/*background-color: #ccc;*/
	width: 100%;
	overflow: hidden;
}
.galleria {
	width: 100%;
	height: 20em;
/*	margin: 2em 0;*/
}
.galleria-thumbnails {
	margin: 0 auto;
}
..galleria-container {
	background-color: rgba(0,0,0,0);
}

.wrapper {
	height: 30em;
	/*background-color: #eee;*/
	position: relative;
}

.slider {
	height: 100%;
	width: 80%;
	overflow: hidden;
/*	border: solid 2px #000;*/
	position: absolute;
	left: 10%;
}

.slides {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 800%;
}

.slide {
	display: inline-block;
	height: 100%;
	width: 12.5%;
	margin: 0;

}

.slide img {
	height: 100%;
	position: relative;
	left: 50%;
	width: 20em;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.left-btn {
	position: absolute;
	left: 2em;
	top: 50%;
	z-index: 1000;
}

.right-btn {
	position: absolute;
	right: 2em;
	top: 50%;
	z-index: 100;
}

.left-btn img, .right-btn img {
	width: 2em;
}
/*============================================================================*/
/*================================PANEL PICKER================================*/
/*============================================================================*/
.hat-area {
	max-width: 1000px;
	margin: 0 auto;
}
.panel-picker {

}

.picker-menu {
	overflow: hidden;
	padding: 1em 0;
}

.picker-ui {
	position: relative;
	width: 100%;
/*	top: 50%;
	transform: translateY(-50%);*/
}

.panel-picker, .picker-menu {
	position: relative;
/*	background-color: #eee;*/
	display: block;
	margin: 0;
/*	border: solid 2px #ccc;*/
}

.square {
	margin: 2px;
	border: solid 0px #000;
	height: 2.5em;
	width: 2.5em;
	position: relative;
	display: block;;
	border-radius: 3em;
	transition: all 250ms ease-out;
}

[hidden] {
	display: none;
}

.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 300%;
}

.tabs li {
	display: inline-block;
	text-align: center;
	display: inline;
	padding: 0 auto;
	width: 5em;
	margin: 0;
}

.tabs a {
	display: inline-block;
	padding: 0.75em;
	border: solid 2px #fbfbfb;
	text-decoration: none;
	color: #000;
	font-size: 0.75em;
	margin: 0;
	border-radius: 0 1em 0 0;

}

.tabs-bar {
width: 100%;
overflow: hidden;
overflow-x: scroll;
}

.5panel {
	height: 100%;
}

.js-current {
	border-bottom: none;
	background-color: #eee;
}

.colours {
	border: solid 2px #fbfbfb;
	border-top-width: 0;
	padding: 0.5em;
}

.brim, .front, .side-left, .side-right, .top-left, .top-right {
	cursor: pointer;
	fill: #fff;
	stroke: #aaa;
	transition: all 100ms ease-out ;
}

.brim:hover,
.front:hover,
.side-left:hover,
.side-right:hover,
.top-left:hover,
.top-right:hover {
	stroke-width: 2px;
}

.js-currentPanel {
	fill: #fff;
	stroke: #444;
	stroke-width: 2px;
}

.reset {
	text-align: center;
	overflow: hidden;
	margin: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
	overflow: hidden;
}

.reset a {
	text-decoration: none;
	color: #222;
	padding: 1em;
	background-color: #ddd;

}
/*============================================================================*/
/*==================================FOOTER====================================*/
/*============================================================================*/

.footer {
	padding: 1em;
}

#add-to-cart {
	visibility: hidden;
}
.paypal {
	padding: 0 3em 3em;
	position: relative;
}

.paypal form {
	text-align: center
}





@media only screen and (min-width: 25em) {
	.title {
		font-size: 2.5em;
		line-height: 1em;
	}
	.title-2 {
		font-size: 1.5em;
	}
	.hook {
		font-size: 0.75em;
		letter-spacing: 13px;
		line-height: 0;
	}
	.hook-2 {
		font-size: 1.5em;
	}
	.inner {
		padding: 2em 0;
		width: calc(100% - 4em);
	}
	.inner-2 {
		padding: 5em 0;
		width: calc(100% - 2em);
	}

	.square {
		height: 2.5em;
		width: 2.5em;
		border-radius: 0.5em;
		overflow: hidden;
	}



}

@media only screen and (min-width: 38em) {
	.title {
		font-size: 4em;
	}
	.title-2 {
		font-size: 2.5em;
	}
	.hook {
		font-size: 2em;
		letter-spacing: 13px;
	}
	.hook-2 {
		font-size: 2.5em;
	}
	.square {
		height: 3em;
		width: 3em;
	}
		.picker-ui {
/*		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);*/
	}

	.logo {
		left: 1em;
	}
	.nav-btn {
		display: none;
	}
	.nav-list {
		max-height: 50em;
	}
	.inner {
		border: solid 5px #fff;
	}
}

@media only screen and (min-width: 60em) {

	.welcome {
		font-size: 1.5vw;
	}
}

@media only screen and (min-width: 90em) {
	.welcome {
		font-size: 1.5vw;
	}
}

.label {
	top: -2em;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	width: auto;
	text-align: center;
	height: 0;
	overflow: hidden;
}

.label p {
	background-color: rgba(255,255,255,0.5);
	z-index: 100;
}

.js-show-label {
	height: 2em;
	padding: 0.25em;
}

.thread-area, .buckle-area {
	border: solid 2px #fbfbfb;
	padding: 1em;
	position: relative;
}

.thread {
	margin: 1em;
	border: none;
	border-top: dashed;
	color: #fff;
}

.thread-picker {
	text-align: center;
}

.thread-menu {
	margin: 0 auto;
}

.5panel-preview {
	max-height: 100%;
}

svg {
	max-height: 100%;
}

.back-menu {
	width: 100%;
}

.back-menu option {
	height: 4em;
}
.back-menu option[value="natural-leather"] {
	background: url(../img/natural-leather.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.back-menu option[value="black-leather"] {
	background: url(../img/black-leather.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.back-menu option[value="yellow-snap"] {
	background: url(../img/yellow-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.back-menu option[value="white-snap"] {
	background: url(../img/white-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.back-menu option[value="tan-snap"] {
	background: url(../img/tan-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.back-menu option[value="royal-snap"] {
	background: url(../img/royal-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.back-menu option[value="red-snap"] {
	background: url(../img/red-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.back-menu option[value="purple-snap"] {
	background: url(../img/purple-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.back-menu option[value="maroon-snap"] {
	background: url(../img/maroon-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.back-menu option[value="kelly-snap"] {
	background: url(../img/kelly-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.back-menu option[value="grey-snap"] {
	background: url(../img/grey-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.back-menu option[value="forest-snap"] {
	background: url(../img/forest-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.back-menu option[value="brown-snap"] {
	background: url(../img/brown-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.back-menu option[value="black-snap"] {
	background: url(../img/black-snap.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.thread-preview {
	stroke: #000;
	stroke-dasharray: 2,2;
	stroke-width: 0.25;
	fill: none;
}

.back-preview {
	margin: 0 auto;
	height: 3em;
	width: auto;
	background-color: #ccc;
	/*background: url("../img/strap-black.jpg") no-repeat scroll 0% 0% / contain;*/

}

.buckle-area div {
	text-align: center;
	margin: 1em;
}
